<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
  Registrar-se
</h1>

<%= form_with model: resource,
              scope: resource_name,
              url: user_registration_path do |f| %>
  <div>
    <%= f.label :username, "Nome", class: 'label-login' %>
    <%= f.text_field :username, class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5', required: true %>
  </div>
  <div class="mt-2">
    <%= f.label :email, class: 'label-login' %>
    <%= f.email_field :email, class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5', required: true %>
  </div>
  <div class="mt-2">
    <%= f.label :password, class: 'label-login' %>
    <%= f.password_field :password, class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5' %>
  </div>
  <div class="mt-2">
    <%= f.label :password_confirmation, class: 'label-login' %>
    <%= f.password_field :password_confirmation, class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5' %>
  </div>
  <%= f.submit 'Cadastrar', class: 'w-full btn-primary mt-5' %>
<% end %>
