<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <%= f.label :email, class: 'text-sm' %>
    <%= f.email_field :email, autocomplete: 'email', class: 'input', required: true %>
  </div>
  <div class="mt-2">
    <%= f.label :password, class: 'text-sm' %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'input' %>
  </div>
  <%= f.submit "Entrar", class: "w-full btn-primary mt-5" %>
<% end %>
