 <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
  Entre
</h1>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <%= f.label :email, class: 'label-login' %>
    <%= f.email_field :email, autocomplete: 'email', class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5', required: true %>
  </div>
  <div class="mt-2">
    <%= f.label :password, class: 'label-login' %>
    <%= f.password_field :password, autocomplete: 'current-password', class: 'bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5' %>
  </div>
  <%= f.submit "Entrar", class: "w-full btn-primary mt-5" %>
<% end %>
<p class="text-sm font-light text-gray-500 dark:text-gray-400">
    Ainda não tem uma conta? <%= link_to "Registrar-se", new_user_registration_path, class: "font-medium text-primary-600 hover:underline dark:text-primary-500" %>
</p>
