<div class="mt-6 overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                    Produto
                </th>
                <th scope="col" class="px-6 py-3">
                    Quantidade (Kgs)
                </th>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                    Valor
                </th>
                <th scope="col" class="px-6 py-3">
                    Data
                </th>
                <th scope="col" class="px-6 py-3 bg-gray-50 dark:bg-gray-800">
                </th>
            </tr>
        </thead>
        <tbody>
          <% @transactions.each do |transaction| %>
            <tr class="border-b border-gray-200 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap bg-gray-50 dark:text-white dark:bg-gray-800">
                  <%= transaction.product.name %>
                </th>
                <td class="px-6 py-4">
                  <%= transaction.quantity %>
                </td>
                <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                  <%= transaction.amount %>
                </td>
                <td class="px-6 py-4 ">
                  <%= transaction.date_time.strftime("%d/%m/%Y") %>
                </td>
                <td class="px-6 py-4 bg-gray-50 dark:bg-gray-800">
                  <div class="flex space-x-2 items-center">
                    <div>
                      <%= link_to "Editar", edit_transaction_path(transaction), class:"btn-primary" %>
                    </div>
                    <div>
                    </div>
                  </div>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>
