<tr id="transaction_<%= transaction.id %>">
  <td><%= transaction.product.name %></td>
  <td><%= transaction.quantity %></td>
  <td><%= transaction.date_time %></td>
  <td><%= transaction.amount %></td>
</tr>
