<%= turbo_frame_tag 'new_product_component' do %>
  <div class="w-full items-center bg-white rounded-lg shadow-lg p-2">
    <%= form_with(model: @product, data: {turbo_frame: 'tabela'}) do |f| %>
      <% if product.errors.any? %>
        <div class="bg-red-400 p-2 rounded-lg mb-2">
          <% product.errors.each do |error|%>
            <div class="text-white">
              <span><%= error.full_message %></span>
            </div>
          <% end %>
        </div>
      <% end %>
    <div class="space-y-2 md:flex md:items-center md:space-x-2 md:space-y-0">
      <div>
        <%= f.text_field :name, class: "input ", placeholder: "Nome" %>
      </div >
      <div class="flex space-x-1">
        <%= f.submit "Confirmar", class: "btn-green" %>
        <%= link_to "Voltar", :back, class: "btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
