<!DOCTYPE html>
<html>
  <head>
    <title>Controle de Estoque</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100 h-screen overflow-hidden flex items-center justify-center">
    <div class="flex flex-col justify-center">
      <div>
        <h1 class="font-bold text-center text-2xl mb-5 flex justify-center mb-2">
          <%= image_tag 'pc.png', style: 'width: 100px' %>
        </h1>
        <p class="text-center font-bold mb-2 text-3xl">Controle de Estoque</p>

        <div class="px-5 py-7 bg-white rounded-lg shadow-lg py-4">
          <h1 class="text-center">Entre</h1>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
